.header {
    background-color:rgba(220, 220, 220, 0.897);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header span img {
    height: 50px;
    padding-left: 50px;
  }
  
  .header span a {
    display: flex;
    padding-right: 50px;
    font-family: 'Times New Roman', serif;
    font-size: 14px;
    color: rgb(0, 0, 0);
  }
